.DS_Store
.vscode/
__pycache__/
pyTCR.egg-info/

*.mp4
/notebooks/animations/
/notebooks/figures/
/notebooks/hidden_*.ipynb
/notebooks/*_dev.ipynb
/notebooks/*.py
/notebooks/outputs/
/miscellaneous/
/data/MIROC6_20th_Atlantic.mat
/data/*.mat
/data/test/
/data/reanalysis/