.DS_Store
.vscode/
.chglog/
dist/
build/
docs/_build/
docs/jupyter_execute/

*.egg-info/
__pycache__/
pyTCR.egg-info/

*.mp4
/notebooks/animations/
/notebooks/figures/
/notebooks/hidden/
/notebooks/hidden_*.ipynb
/notebooks/*_dev.ipynb
/notebooks/*.py
/notebooks/outputs/
/miscellaneous/
/data/MIROC6_20th_Atlantic.mat
/data/*.mat
/data/test/
/data/reanalysis/
tcr/data/MIROC6_20th_Atlantic.mat
tcr/data/*.mat
tcr/data/test/
tcr/data/reanalysis/
/joss/internal/
# README-pypi.md