.rubric {
    font-size: 28px;  /* Adjust size as needed */
    font-weight: bold;
}

.bg-dark-orange {
    background-color: #d35400 !important; /* Dark orange */
    color: white; /* Ensure good contrast */
}

.bg-dark-green {
    background-color: #145a32 !important; /* Dark Green */
    color: white;
}

.bg-dark-blue {
    background-color: #154360 !important; /* Dark Blue */
    color: white;
}

.bg-dark-gray {
    background-color: #2f2f2f !important; /* Dark Gray */
    color: white;
}